* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.task-li{
      display: flex;
      max-width: 100px;
      margin-bottom: 16px;
        padding: 8px 16px;
        color: white;
        background: #caaae9;
        border-radius: 20px;
        text-decoration: none;
}

.task-p{
    display: inline;
    padding: 8px 16px;
    color: white;
    background: #6d65c5;
    border-radius: 20px;
    text-decoration: none;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

li{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}


.item{
margin-bottom: 16px;
width: 392px;
height: auto;

background-color: #f6f6fe;
border-radius: 8px;
padding: 16px;


}


.item-name{
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  
}

.item-list li{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 16px;
  width: 360px;
  height: 40px;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}


.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 48px;
  column-gap: 24px;
}

.gallery-list{
  width: 360px;
  height: 200px;
}

.task-3-input{
  display: block;
  margin-top: 16px;
width: 360px;
  height: 40px;
}

.task-3-h1{

    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 40px;
  margin-top: 16px;
}



.task-4-bth{
  margin-top: 16px;
  border-radius: 8px;
  border: 1px solid #bfbfbf;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    color: #fafafa;
}

.task-5-p{
  font-weight: 900;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.change-color{
  border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    background: #4e75ff;
    color: #fafafa;
}
